# dependencies
node_modules/

# build output
dist/

# misc
.DS_Store
*.pem

# debug
*.log

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# editor
.vscode/
.idea/

# footage (large media)
footage/*
